body {
  font-family: "Raleway", sans-serif;
}

h2 {
  margin: 0;
}
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-1 {
  max-width: 1440px;

  display: flex;
  background-color: white;
  margin-top: 40px;
  margin-bottom: 40px;
}

.top-img {
  height: 200px;
  width: 500px;
  border-radius: 10px;
  margin-right: 30px;
  object-fit: cover;
}

article {
  display: flex;
  flex-direction: column;
}

button {
  width: 180px;
  padding: 10px;
  background-color: #167812;
  color: white;
  border: 0;
}

button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

#section-2 {
  max-width: 1440px;
  width: 100%;
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 60px;
}

.section-2-img-div {
  width: 1440px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-weight: bold;
  padding-top: 30px;
}

.img-container-sec-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img-sec-2 {
  height: 180px;
  width: 180px;
  object-fit: cover;
  border-radius: 10px;
}
